.header_logo {
    float: left;
    font-size: 16px;
    color: #606060;
    font-weight: bold;
    margin-top: 30px;
}

.header_list {
    font-size: 13px;
    display: inline-flex;
    margin-top: 17px ;

    li {
        list-style: none;
        display: inline-flex;
        margin-left: 260px;
    }

    li + li {
        margin-left: 25px;
    }

    a {
        text-decoration: none;
        color: #888888;
        background: none;
    }
}

.header_button {
    display: none;
}